.main {
	padding: 30px 0;

	&Title {
		font-size: 32px;
		color: $grey-mid;
		text-align: center;
		margin-bottom: 30px;
	}

	&Top {
		margin-bottom: 30px;
	}

	&List {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&Item {
			display: flex;
			align-items: center;
			gap: 15px;

			&Text {
				font-size: 18px;
				font-weight: 600;
				color: $grey-blue;
			}
		}
	}
}

@media (max-width: 768px) {
	.main {
		&Title {
			font-size: 26px;
		}
	}
}

@media (max-width: 455px) {
	.main {
		padding: 20px 0;

		&Title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		&Top {
			gap: 15px;
			margin-bottom: 20px;
		}

		&List {
			gap: 10px;

			&Item {
				&Text {
					font-size: 16px;
				}
			}
		}
	}
}
