.errorWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	word-wrap: break-word;

	&Title {
		max-width: 600px;
		border: 1px solid $grey-dark;
		padding: 20px;

		&Text {
			color: $error-red;
		}
	}

	&Img {
		max-width: 400px;
		margin-bottom: 20px;
	}

	&Body {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-bottom: 10px;

		&Img {
			max-width: 100px;
			border-radius: 50%;
		}

		&Description {
			max-width: 300px;
		}
	}
}

@media (max-width: 768px) {
	.errorWrapper {
		&Title {
			padding: 15px;

			&Text {
				font-size: 22px;
			}
		}
	}
}

@media (max-width: 445px) {
	.errorWrapper {
		&Title {
			padding: 10px;

			&Text {
				font-size: 18px;
			}
		}
	}
}
