.header {
	padding: 30px 30px;
	background-color: $header-bg;

	&Menu {
		&List {
			display: flex;
			justify-content: flex-end;
			gap: 30px;

			&Link {
				font-size: 20px;
				font-weight: 600;
				padding: 10px 0 10px 0;
				color: $blue;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: $dark-blue;
				}
			}
		}
	}
}

@media (max-width: 455px) {
	.header {
		padding: 30px 30px;
		margin-bottom: 20px;
		background-color: #8ed1fc;

		&Menu {
			&List {
				display: flex;
				justify-content: flex-end;
				gap: 30px;

				&Link {
					font-size: 20px;
					font-weight: 600;
					padding: 10px 0 10px 0;
				}
			}
		}
	}
}
