.header {
	padding: 30px 0;
	background-color: $header-bg;

	&Menu {
		&List {
			display: flex;
			justify-content: flex-end;
			gap: 30px;

			&Link {
				font-size: 20px;
				font-weight: 600;
				padding: 10px 0 10px 0;
				color: $grey-blue;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding: 20px 0;

		&Menu {
			&List {
				&Link {
					font-size: 18px;
				}
			}
		}
	}
}

@media (max-width: 455px) {
	.header {
		padding: 15px 0;

		&Menu {
			&List {
				gap: 20px;

				&Link {
					font-size: 14px;
				}
			}
		}
	}
}
