.flex {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	max-width: 200px;
	color: $blue;
	margin-top: auto;
	cursor: pointer;
	transition: color 0.3s ease-in-out;

	&Link {
		font-size: 18px;
		font-weight: 600;
	}

	&:hover {
		color: $dark-blue;
	}

	&Arrow {
		font-size: 12px;
	}
}

@media (max-width: 455px) {
	.flex {
		padding: 5px 0;

		&Link {
			font-size: 16px;
		}

		&Arrow {
			font-size: 10px;
		}
	}
}

.dark {
	color: $text-highlight-dark;

	&:hover {
		color: $blue;
	}
}
